xsdSchema/commons_Tony.xsd

  <?xml version="1.0" encoding="UTF-8"?>
  <!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="albumType">
      <xs:sequence>
        <xs:element name="albumID" type="IDType" minOccurs="1" maxOccurs="1" />
        <xs:element name="albumTitle" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="dateReleased" type="xs:date" minOccurs="1" maxOccurs="1" />
        <xs:element name="createdOn" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
        <xs:element name="tracks" type="tracksType" minOccurs="1" maxOccurs="1" />
        <xs:element name="albumPopularity" type="popularityType" minOccurs="0" maxOccurs="1" />
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tracksType">
      <xs:sequence>
        <xs:element name="track" type="trackType" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="trackType">
      <xs:sequence>
        <xs:element name="trackID" type="IDType" minOccurs="1" maxOccurs="1" />
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="genre" type="gerneType" minOccurs="1" maxOccurs="1" />
        <xs:element name="dateReleased" type="xs:date" minOccurs="1" maxOccurs="1" />
        <xs:element name="addedOn" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
        <xs:element name="atrists" type="artistsType" minOccurs="1" maxOccurs="1" />
        <xs:element name="fileDetails" type="fileDetailsType" minOccurs="1" maxOccurs="1" />
        <xs:element name="devices" type="devicestype" minOccurs="1" maxOccurs="1" />
        <xs:element name="popularity" type="popularityType" minOccurs="0" maxOccurs="1" />
        <xs:element name="copyright" type="copyrightType" minOccurs="1" maxOccurs="1" />
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="artistsType">
      <xs:sequence>
        <xs:element name="artist" type="artistType" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="artistType">
      <xs:sequence>
        <xs:element name="artistName" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="artistBand" type="xs:string" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="gerneType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="rock" />
        <xs:enumeration value="jazz" />
        <xs:enumeration value="folk" />
        <xs:enumeration value="hihop" />
        <xs:enumeration value="pop" />
        <xs:enumeration value="country" />
        <xs:enumeration value="classical" />
        <xs:enumeration value="punk" />
        <xs:enumeration value="heavyMetal" />
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="fileDetailsType">
      <xs:sequence>
        <xs:element name="size" type="memoryUnitType" minOccurs="1" maxOccurs="1" />
        <xs:element name="extension" type="extensionType" minOccurs="1" maxOccurs="1" />
        <xs:element name="trackLength" type="xs:duration" minOccurs="1" maxOccurs="1" />
        <xs:element name="bitRate" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="extensionType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="mp3" />
        <xs:enumeration value="mp4" />
        <xs:enumeration value="avi" />
        <xs:enumeration value="3gp" />
        <xs:enumeration value="wav" />
        <xs:enumeration value="wma" />
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="devicestype">
      <xs:sequence>
        <xs:element name="device" type="deviceType" minOccurs="1" maxOccurs="2" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deviceType">
      <xs:sequence>
        <xs:element name="deviceKind" type="deviceKindType" minOccurs="1" maxOccurs="1" />
        <xs:element name="deviceName" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="AccountAccess" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="AccountUsername" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="deviceVendor" type="xs:string" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountAccess">
      <xs:restriction base="xs:string">
        <xs:enumeration value="onlineWithPublicAccess" />
        <xs:enumeration value="OnlineWithPrivateAccess" />
        <xs:enumeration value="OfflineAccount" />
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="deviceKindType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="play" />
        <xs:enumeration value="store" />
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="popularityType">
      <xs:sequence>
        <xs:element name="rating" type="ratingType" minOccurs="1" maxOccurs="1" />
        <xs:element name="comments" type="commentsType" minOccurs="0" maxOccurs="1" />
        <xs:element name="playCount" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
        <xs:element name="favourite" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="lastPlayedOn" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ratingType">
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="5" />
        <xs:fractionDigits value="2" />
      </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="commentsType">
      <xs:sequence>
        <xs:element name="comment" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="copyrightType">
      <xs:sequence>
        <xs:element name="copyright" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="licenceURL" type="URLType" minOccurs="1" maxOccurs="1" />
        <xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="publisherURL" type="URLType" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IDType">
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-z]{1}([0-9a-z]){3,11}" />
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="URLType">
      <xs:restriction base="xs:string">
        <xs:pattern value="(https://|http://|ftp://){1}(www\.)?([a-z0-9_\-\.//])+" />
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="memoryUnitType">
      <xs:restriction base="xs:string">
        <xs:pattern value="[0-9]{1,3}(\.[0-9]{1,3})(Byte|Bit|KB|MB|GB|TB|PB)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:schema>
